# Module - 3

SUPPORT VECTOR MACHINE

In [1]:
import pandas as p
import numpy as n
import matplotlib.pyplot as plt
import seaborn as s

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
data=p.read_csv('churn.csv')

In [4]:
data.columns

Index(['Customer ID', 'Gender', 'Age', 'Zip Code', 'Latitude', 'Longitude',
       'Tenure in Months', 'Offer', 'Internet Type', 'Avg Monthly GB Download',
       'Unlimited Data', 'Contract', 'Payment Method', 'Monthly Charge',
       'Total Charges', 'Total Extra Data Charges', 'Total Revenue',
       'Customer Status'],
      dtype='object')

In [5]:
del data['Customer ID']
del data['Gender']
del data['Zip Code']
del data['Latitude']
del data['Longitude']
del data['Total Charges']
del data['Total Revenue']

In [6]:
df=data.dropna()

In [7]:
df['Customer Status'].value_counts()

Stayed     3489
Churned    1756
Joined      272
Name: Customer Status, dtype: int64

In [8]:
df.drop(df.index[df['Customer Status'] == 'Joined'], inplace=True)

In [9]:
df['Customer Status'].value_counts()

Stayed     3489
Churned    1756
Name: Customer Status, dtype: int64

In [10]:
df = df.rename({'Tenure in Months': 'Tenure_in_Months', 'Internet Service': 'Internet_Service',
                'Internet Type': 'Internet_Type', 'Avg Monthly GB Download': 'Avg_Monthly_GB_Download',
                'Unlimited Data': 'Unlimited_Data', 'Payment Method': 'Payment_Method',
                'Monthly Charge': 'Monthly_Charge', 'Total Charges': 'Total_Charges',
                'Total Extra Data Charges': 'Total_Extra_Data_Charges', 'Customer Status': 'Customer_Status'}, axis=1)

In [11]:
df.head()

,Age,Tenure_in_Months,Offer,Internet_Type,Avg_Monthly_GB_Download,Unlimited_Data,Contract,Payment_Method,Monthly_Charge,Total_Extra_Data_Charges,Customer_Status
0,37,9,None,Cable,16.0,Yes,One Year,Credit Card,65.6,0,Stayed
1,46,9,None,Cable,10.0,No,Month-to-Month,Credit Card,-4.0,10,Stayed
2,50,4,Offer E,Fiber Optic,30.0,Yes,Month-to-Month,Bank Withdrawal,73.9,0,Churned
3,78,13,Offer D,Fiber Optic,4.0,Yes,Month-to-Month,Bank Withdrawal,98.0,0,Churned
4,75,3,None,Fiber Optic,11.0,Yes,Month-to-Month,Credit Card,83.9,0,Churned

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5245 entries, 0 to 7042
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       5245 non-null   int64
 1   Tenure_in_Months          5245 non-null   int64
 2   Offer                     5245 non-null   object
 3   Internet_Type             5245 non-null   object
 4   Avg_Monthly_GB_Download   5245 non-null   float64
 5   Unlimited_Data            5245 non-null   object
 6   Contract                  5245 non-null   object
 7   Payment_Method            5245 non-null   object
 8   Monthly_Charge            5245 non-null   float64
 9   Total_Extra_Data_Charges  5245 non-null   int64
 10  Customer_Status           5245 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 491.7+ KB

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

var = ['Offer', 'Internet_Type', 'Unlimited_Data', 'Contract', 'Payment_Method', 'Customer_Status']

for i in var:
    df[i] = le.fit_transform(df[i]).astype(int)

In [ ]:
df

In [ ]:
#preprocessing, split test and dataset, split response variable
X = df.drop(labels='Customer_Status', axis=1)
#Response variable
y = df.loc[:,'Customer_Status']

In [ ]:
import imblearn
from imblearn.over_sampling import RandomOverSampler
from collections import Counter

ros =RandomOverSampler(random_state=42)
x_ros,y_ros=ros.fit_resample(X,y)
print("OUR DATASET COUNT         : ", Counter(y))
print("OVER SAMPLING DATA COUNT  : ", Counter(y_ros))

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_ros, y_ros, test_size=0.20, random_state=1, stratify=y_ros)
print("Number of training dataset : ", len(X_train))
print("Number of test dataset     : ", len(X_test))
print("Total number of dataset    : ", len(X_train)+len(X_test))

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

s = SVC()

s.fit(X_train,y_train)

predictS = s.predict(X_test)

print("")
print('Classification report of Support Vector Machine Result is:')
print("")
print(classification_report(y_test,predictS))
print("")

cm=confusion_matrix(y_test,predictS)
print('Confusion Matrix result of Support Vector Machine is:\n',cm)
print("")

sensitivity = cm[0,0]/(cm[0,0]+cm[0,1])
print('Sensitivity : ', sensitivity )
print("")
specificity = cm[1,1]/(cm[1,0]+cm[1,1])
print('Specificity : ', specificity)
print("")

accuracy = cross_val_score(s, x_ros, y_ros, scoring='accuracy')
print('Cross validation test results of accuracy:')
print(accuracy)


print("")
print("Accuracy Result of Support Vector Machine is:",accuracy.mean() * 100)
svc=accuracy.mean() * 100

In [ ]:
def Bar_Chart():
    import matplotlib.pyplot as plt
    data=[svc]
    alg="Support Vector Machine"
    plt.figure(figsize=(5,5))
    b=plt.bar(alg,data,color=("Blue"))
    plt.title("Accuracy Result of SVM",fontsize=15)
    plt.legend(b,data,fontsize=9)
Bar_Chart()

In [ ]:
TP = cm[0][0]
FP = cm[1][0]
FN = cm[0][1]
TN = cm[1][1]
print("True Positive :",TP)
print("True Negative :",TN)
print("False Positive :",FP)
print("False Negative :",FN)
print("")
TPR = TP/(TP+FN)
TNR = TN/(TN+FP)
FPR = FP/(FP+TN)
FNR = FN/(TP+FN)
print("True Positive Rate :",TPR)
print("True Negative Rate :",TNR)
print("False Positive Rate :",FPR)
print("False Negative Rate :",FNR)
print("")
PPV = TP/(TP+FP)
NPV = TN/(TN+FN)
print("Positive Predictive Value :",PPV)
print("Negative predictive value :",NPV)

In [ ]:
def plot_confusion_matrix(cm, title='Confusion matrix-Support Vector Machine', cmap=plt.cm.cool):
    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()

cm1=confusion_matrix(y_test, predictS)
print('Confusion matrix-Support Vector Machine:')
print(cm)
plot_confusion_matrix(cm)